# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Compiler outputs
dist/
build/

# IDEs and editors
.idea/
.project
.classpath
.cproject
.settings/
.vscode/
*.sublime-project
*.sublime-workspace
.gemini/

# System Files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Drizzle cache
.drizzle/
